<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <fieldset style="width: fit-content; text-align: center;">Please select an attribute to delete based on.<br><br>
        <input type="button" id="deletedepartmentname" name="operation" value="Department Name" onclick="location.href='/deletedepartmentname'"><br><br>
        <input type="button" id="deletedepartmentbuilding" name="operation" value="Building" onclick="location.href='/deletedepartmentbuilding'"><br><br>
        <input type="button" id="deletedepartmentbudget" name="operation" value="Budget" onclick="location.href='/deletedepartmentbudget'"><br><br>
        <br>
    </fieldset>

</body>
</html>