<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Data</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>

    <fieldset style="width: fit-content; text-align: center;">Please select a table to delete from.<br><br>
        <input type="button" id="deletedepartment" name="operation" value="Department" onclick="location.href='/deletedepartment'"><br><br>
        <input type="button" id="deletestudent" name="operation" value="Student" onclick="location.href='/deletestudent'"><br><br>
        <input type="button" id="deleteinstructor" name="operation" value="Instructor" onclick="location.href='/deleteinstructor'"><br><br>
        <input type="button" id="deleteadvisor" name="operation" value="Advisor" onclick="location.href='/deleteadvisor'"><br><br>
        <br>
    </fieldset>


</body>
</html>
