<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <fieldset style="width: fit-content; text-align: center;">Please select an attribute to delete based on.<br><br>
        <input type="button" id="deleteinstructorID" name="operation" value="ID" onclick="location.href='/deleteinstructorID'"><br><br>
        <input type="button" id="deleteinstructorname" name="operation" value="Name" onclick="location.href='/deleteinstructorname'"><br><br>
        <input type="button" id="deleteinstructordeptname" name="operation" value="Department Name" onclick="location.href='/deleteinstructordept'"><br><br>
        <input type="button" id="deleteinstructorsalary" name="operation" value="Salary" onclick="location.href='/deleteinstructorsalary'"><br><br>
        <br>
    </fieldset>

</body>
</html>