<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <fieldset style="width: fit-content; text-align: center;">Please select an attribute to delete based on.<br><br>
        <input type="button" id="deleteadvisorSID" name="operation" value="Student ID" onclick="location.href='/deleteadvisorSID'"><br><br>
        <input type="button" id="deleteadvisorIID" name="operation" value="Instructor ID" onclick="location.href='/deleteadvisorIID'"><br><br>
        <br>
    </fieldset>

</body>
</html>