<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <fieldset style="width: fit-content; text-align: center;">Please select an attribute to delete based on.<br><br>
        <input type="button" id="deletestudentID" name="operation" value="ID" onclick="location.href='/deletestudentID'"><br><br>
        <input type="button" id="deletestudentname" name="operation" value="Name" onclick="location.href='/deletestudentname'"><br><br>
        <input type="button" id="deletestudentdept" name="operation" value="Department" onclick="location.href='/deletestudentdept'"><br><br>
        <input type="button" id="deletestudentcredits" name="operation" value="Total Credits" onclick="location.href='/deletestudentcredits'"><br><br>
        <br>
    </fieldset>

</body>
</html>