<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Data</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>

    <fieldset style="width: fit-content; text-align: center;">Please select a table to insert into.<br><br>
        <input type="button" id="insertdepartment" name="operation" value="Department" onclick="location.href='/insertdepartment'"><br><br>
        <input type="button" id="insertstudent" name="operation" value="Student" onclick="location.href='/insertstudent'"><br><br>
        <input type="button" id="insertinstructor" name="operation" value="Instructor" onclick="location.href='/insertinstructor'"><br><br>
        <input type="button" id="insertadvisor" name="operation" value="Advisor" onclick="location.href='/insertadvisor'"><br><br>
        <br>
    </fieldset>


</body>
</html>
