<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <fieldset style="width: fit-content; text-align: center;">Please enter the advisor information to insert.<br>
        <form method="POST" action="/insertadv">
            <p>Student ID</p>
            <input type="integer" name="std_SID" class="form" placeholder="e.g., 111222"><br>
            <p>Instructor ID</p>
            <input type="integer" name="std_IID" class="form" placeholder="e.g., 111222"><br><br>
            <button>Submit</button>
        </form>
    </fieldset>
</body>
</html>