<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            background-color: aquamarine;
        }
        table {
            border: 0;
        }
        th {
            text-align: left;
            background-color: rgb(171, 154, 188);
        }
        tr:nth-child(odd) {
            background-color: rgb(231, 226, 237);
        }
    </style>
</head>
<body>
    <h1>Search for a Department.</h1>
    <h2>Department Table</h2>
    <table>
        <tr>
            <th>dept_name</th>
            <th>building</th>
            <th>budget</th>
        </tr>
        <% departmentData.forEach(function(row) { %>
            <tr>
                <td><%= row.dept_name %></td>
                <td><%= row.building %></td>
                <td><%= row.budget %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>