<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <fieldset style="width: fit-content; text-align: center;">Please enter the department information to search by.<br>
        <form method="POST" action="/searchdept">
            <p>Department</p>
            <input type="text" name="std_dept" class="form" placeholder="e.g., CS"><br>
            <p>Building</p>
            <input type="text" name="std_building" class="form" placeholder="e.g., BECC"><br>
            <p>Budget</p>
            <input type="decimal" name="std_budget" class="form" placeholder="e.g., 100000"><br><br>
            <button>Submit</button>
        </form>
    </fieldset>
</body>
</html>