<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Data</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>

    <fieldset style="width: fit-content; text-align: center;">Please select a table to search from.<br><br>
        <input type="button" id="searchdepartment" name="operation" value="Department" onclick="location.href='/searchdepartment'"><br><br>
        <input type="button" id="searchstudent" name="operation" value="Student" onclick="location.href='/searchstudent'"><br><br>
        <input type="button" id="searchinstructor" name="operation" value="Instructor" onclick="location.href='/searchinstructor'"><br><br>
        <input type="button" id="searchadvisor" name="operation" value="Advisor" onclick="location.href='/searchadvisor'"><br><br>
        <br>
    </fieldset>


</body>
</html>
