<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Data</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>

    <fieldset style="width: fit-content; text-align: center;">Please select a table to update.<br><br>
        <input type="button" id="updatedepartment" name="operation" value="Department" onclick="location.href='/updatedepartment'"><br><br>
        <input type="button" id="updatestudent" name="operation" value="Student" onclick="location.href='/updatestudent'"><br><br>
        <input type="button" id="updateinstructor" name="operation" value="Instructor" onclick="location.href='/updateinstructor'"><br><br>
        <input type="button" id="updateadvisor" name="operation" value="Advisor" onclick="location.href='/updateadvisor'"><br><br>
        <br>
    </fieldset>


</body>
</html>
